@import "../../styles/colors.scss";
@import "../../styles/utils.scss";

.menu-item {
    display: inline-block;
    background: $darkprimary;
    color: $lightprimary;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px;
    transition: $trfast;

    &:hover {
        background: $primary;
        cursor: pointer;
    }
}