@import "../../styles/colors.scss";

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    .react {
        display: inline-flex;
        align-items: center;
        color: white;
    }

    p {
        color: $lightprimary;
    }
}